body {
  text-align:center;
  margin:0 auto;
  width:80%;
}
h1, h2 {
  letter-spacing: 1.5em;
}
h3 {
  letter-spacing: 0.2em;
}
.timeContainer {
  width:100%;
  display: flex;
  flex-direction: row;
  /*flex-wrap : wrap;*/
  justify-content: center;
  border:1px solid black;
  /*padding-bottom:10px;*/


}
.time {
  width:40%;
  text-align: center;
  border:1px solid black;
  margin: 0 auto;
  margin:10px;

}
.timeCounter {
  font-size:130%;
}
p {
  margin:0;
  padding: 10px;
  letter-spacing: 5px;
}
.container {
  width:100%;
  display:none;
}
.midContainer {

}
/*.midContainer p {
  font-size:120;
  letter-spacing: 5px;
}*/
.keyBoardContainer {
  margin: 35px;
  border: 2px solid black;
  padding:10px;
}
.keyBoard {
  display: flex;
  flex-direction: row;
  flex-wrap : wrap;
  justify-content: center;
  margin-bottom: 10px;
}
.keyBoardLetter {
  width:50px;
  height:50px;
  font-size: 120%;
  color: white;
  background-color: black;
  border:1px solid white;
}
.guessingWord {
  margin:20px;
}
.gameWord {
  display: flex;
  flex-direction: row;
  flex-wrap : wrap;
  justify-content: center;
}
.gameWordLetter {
  width:100px;
  height:100px;
  color: white;
  background-color: black;
  border:1px solid white;
  font-size: 200%;
  line-height: 100px;

}
.data {
  display: flex;
  flex-direction: row;
  flex-wrap : wrap;
  justify-content: space-between;

}
.wrapper {
  width:30%;
  margin: 0 auto;
  border:1px solid black;
}
.wrongLetters {

  display: flex;
  flex-direction: row;
  flex-wrap : wrap;
  justify-content: start;
}
.wrongLetter {
  width:50px;
  height:50px;
  line-height: 50px;
  color: white;
  background-color: black;
  border:1px solid white;

}
.lowerContainer {
  font-size: 140%;
  margin-top:20px;
  color :red;
}
.score {
  width:30%;
  font-size: 140%;
  color :red;
}
.hangingMan {
  display: flex;
  flex-direction: row;
  flex-wrap : wrap;
  justify-content: space-around;
    border:1px solid white;
}
.hangManLife {
  width:30px;
  height:30px;
  color: white;
  background-color: black;
  border:1px solid white;
  line-height:30px;
}
.wordsContainer{
  width:30%;
  display: flex;
  flex-direction: row;
  flex-wrap : wrap;
  justify-content: space-around;
  margin:10px auto;

}
#word {
  font-size:130%;
  margin-bottom:20px;
  border:1px solid black;
}
button {
  font-size:150%;
  margin-bottom:15px;
}
.words {
  border:3px solid black;
}
.words p {
  font-size:120%;
}

.wordList {
  width:30%;
  margin:0 auto;
  /*text-align:left;*/
  font-size: 120%;

    padding:0;
    margin-bottom:20px;
}
.wordInList {
  /*width:20px;
  height:20px;*/
  color: black;
  background-color: lightgrey;
  border:1px solid white;
  list-style-type: none;

}
footer {
  color:white;
  background-color: black;
  padding:30px;
  font-size:120%;
  margin-top:10px;

}
